.container {
    width: 330px;
    height: 370px;
    margin: 18px;
    border-radius: 12px;
    border: solid 1px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.image {
    object-fit: cover;
    height: 175px;
    width: 100%;
}

.stats {
    height: 150px;
    display: flex;
}