@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
}

#root {
  overflow-x: hidden;
  overflow-y: hidden;
}

html {
  /*para que el fondo se adapte al tamaño de la
      pantalla*/
  height: auto;
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: white;
  font-family: "Roboto Mono", monospace;
}
